	<!DOCTYPE html>
	
	<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:p="http://primefaces.org/ui">
	
	<!-- The f:view element is required to get certain components to work with webkit based browsers
	(Google Chrome and Safari) -->
	<f:view contentType="text/html">
	
	<h:head>
		<!-- Add support for <meta>, <link>, and <scripts> here -->
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
		<!-- Change the title of this document!!! -->
			
		
	</h:head>
	
	<h:body>
		<!-- Add your content here -->
		
		<h2>Contact Us!</h2>
		<p>
			We love to hear from you!
			Fill out the form below and a representative will
			reply to your within 48 hours.
		</p>
		<h:form id="contactUsForm">
			<p:messages id="messages" />
			<h:messages />
			<h:panelGrid columns="2" >
				<h:outputLabel for="name" value="Your Name: "></h:outputLabel>
				<p:inputText id="name" 
					value="#{contactUsBean.name}"
					required="true"
					requiredMessage="Name is required."></p:inputText>
			
				<h:outputLabel for="email" value="Your Email Address:"></h:outputLabel>
				<p:inputText id="email"
					value="#{contactUsBean.emailAddress}"
					required="true"
					requiredMessage="Email Address is required."></p:inputText>
				
				<h:outputLabel for="message" value="Message:"></h:outputLabel>
				<p:editor id="message"
					value="#{contactUsBean.message}"
					required="true"
					requiredMessage="Message is required."></p:editor>
				
				<h:outputText />
				  <p:commandButton ajax="false" update="messages,growl,name,email,message" id="sendBtn" value="Send Message" actionListener="#{contactUsBean.sendMessage}" ></p:commandButton>
			
			</h:panelGrid>			
		</h:form>
		
		
		<!-- End of content area -->
	</h:body>
	
	</f:view>
	
	</html>