<!DOCTYPE html>
 
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"    >
 
<!-- The f:view element is required to get certain components to work with webkit based browsers
(Google Chrome and Safari) -->
<f:view contentType="text/html">
 
<h:head>
    <!-- Add support for <meta>, <link>, and <scripts> here -->
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <!-- Change the title of this document!!! -->
    <title>House Rules</title>
     
</h:head>
 
<h:body>
    <!-- Add your content here -->
    <h1>House Rules</h1> 
     <p>
     Enter your monthly income and your monthly debt amount to determine
     your maximum mortgage payment with and without debts.
     </p>
     <h:form>
     	<p:messages id="messages" />
     	<p:panelGrid columns="2">
     		<f:facet name="header">
     			House Rules
     		</f:facet>
     		
     		<h:outputLabel for="monthlyIncome" value="Monthly Income:" />
     		<p:inputText id="monthlyIncome" 
     			value="#{houseRulesBean.houseRules.monthlyIncome}"
     			required="true"
     			requiredMessage="Monthly Income is required.">
     		</p:inputText>
     		
     		<h:outputLabel for="monthlyDebt" value="Monthly Debt:" />
     		<p:inputText id="monthlyDebt" 
     			value="#{houseRulesBean.houseRules.monthlyDebt}"
     			required="true"
     			requiredMessage="Monthly Debt is required.">
     		</p:inputText>
     	
     		<h:outputText />
     		<h:panelGroup>
	     		<p:commandButton value="Calculate" ajax="false" actionListener="#{houseRulesBean.submit}" />
	     		<p:commandButton value="Clear" ajax="false" immediate="true" action="clear" />
     		</h:panelGroup>
     	</p:panelGrid>
     </h:form>
     
     
    <!-- End of content area -->
</h:body>
 
</f:view>
 
</html>