<f:view xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:pm="http://primefaces.org/mobile"
        contentType="text/html"
    renderKitId="PRIMEFACES_MOBILE">

    <pm:page title="My Mobile Apps">

        <!-- Main View -->
        <pm:view id="main">
            <pm:header title="My Mobile Apps">
            </pm:header>

            <pm:content>
            	<p:dataList type="inset">
            		<f:facet name="header">My Apps</f:facet>
            		<h:outputLink value="#rulesof72">Rules of 72</h:outputLink>
            		<h:outputLink value="#houserules">House Rules</h:outputLink>
            	</p:dataList>
            </pm:content>
        </pm:view>
        
        <pm:view id="rulesof72">
            <pm:header title="RulesOf72">
            	<f:facet name="left">
            		<p:button value="Back" icon="back" href="#main?reverse=true"></p:button>
            	</f:facet>
            </pm:header>

            <pm:content>
            	<h:form id="rulesof72Form">
					<p:messages id="messages" />
					
					<p:inputText id="interestRate" label="Interest Rate:" 
		     			value="#{rulesOf72Bean.rulesOf72.interestRate}"
		     			required="true"
		     			requiredMessage="Interest Rate is required.">
		     		</p:inputText>					
											
					<p:commandButton value="Calculate" actionListener="#{rulesOf72Bean.submit}" update="messages" />
				
				</h:form>
            </pm:content>
        </pm:view>
        
        <pm:view id="houserules">
            <pm:header title="House Rules">
            	<f:facet name="left">
            		<p:button value="Back" icon="back" href="#main?reverse=true"></p:button>
            	</f:facet>
            </pm:header>

            <pm:content>
           		<h:form id="houserulesForm">
     				<p:messages id="messages" />
     		
		     		<p:inputText id="monthlyIncome" label="Monthly Income:"
		     			value="#{houseRulesBean.houseRules.monthlyIncome}"
		     			required="true"
		     			requiredMessage="Monthly Income is required.">
		     		</p:inputText>
		     		
		     		<p:inputText id="monthlyDebt" label="Monthly Debt:" 
		     			value="#{houseRulesBean.houseRules.monthlyDebt}"
		     			required="true"
		     			requiredMessage="Monthly Debt is required.">
		     		</p:inputText>
     	
	     			<p:commandButton value="Calculate" actionListener="#{houseRulesBean.submit}" update="messages"/>
			     </h:form>
            </pm:content>
        </pm:view>

    </pm:page>
    
</f:view>

