<f:view xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:pm="http://primefaces.org/mobile"
        contentType="text/html"
    renderKitId="PRIMEFACES_MOBILE">

    <pm:page title="House Rules">

        <!-- Main View -->
        <pm:view id="main">
            <pm:header title="House Rules">
            </pm:header>

            <pm:content>
           		<h:form>
     				<p:messages id="messages" />
     		
		     		<p:inputText id="monthlyIncome" label="Monthly Income:"
		     			value="#{houseRulesBean.houseRules.monthlyIncome}"
		     			required="true"
		     			requiredMessage="Monthly Income is required.">
		     		</p:inputText>
		     		
		     		<p:inputText id="monthlyDebt" label="Monthly Debt:" 
		     			value="#{houseRulesBean.houseRules.monthlyDebt}"
		     			required="true"
		     			requiredMessage="Monthly Debt is required.">
		     		</p:inputText>
     	
	     			<p:commandButton value="Calculate" actionListener="#{houseRulesBean.submit}" update="messages"/>
			     </h:form>
            </pm:content>
        </pm:view>

    </pm:page>
    
</f:view>

