<f:view xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:pm="http://primefaces.org/mobile"
        contentType="text/html"
    renderKitId="PRIMEFACES_MOBILE">

    <pm:page title="Rules of 72">


        <!-- Main View -->
        <pm:view id="main">
            <pm:header title="RulesOf72">
            </pm:header>

            <pm:content>
            	<h:form>
					<p:messages id="messages" />
					
					<p:inputText id="interestRate" label="Interest Rate:" 
		     			value="#{rulesOf72Bean.rulesOf72.interestRate}"
		     			required="true"
		     			requiredMessage="Interest Rate is required.">
		     		</p:inputText>					
											
					<p:commandButton value="Calculate" actionListener="#{rulesOf72Bean.submit}" update="messages" />
				
				</h:form>
            </pm:content>
        </pm:view>

    </pm:page>
    
</f:view>

