<f:view xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:pm="http://primefaces.org/mobile"
        contentType="text/html"
    renderKitId="PRIMEFACES_MOBILE">

    <pm:page title="BMI MOBILE WHAAT???">

        <!-- Main View -->
        <pm:view id="main">
            <pm:header title="BMI?">
            </pm:header>


<pm:content>
<!-- Add your content here -->
<h2>BMI Calculator</h2> 
    
    <h:form id="bmiForm">
    
      <p:messages id="messages" />
       
      
           
          
           <p:inputText value="#{bmiBean.bmi.weight}" 
           label="Your Weight(in pounds):"
           	id="weight" 
          	required="true" 
          	requiredMessage="Please enter your weight.">
          	</p:inputText>
          	         
           <p:inputText value="#{bmiBean.bmi.height}" 
           label = "Your Height(in inches): "
           id="height" 
           required="true" 
           requiredMessage="Please enter your height.">
           </p:inputText>
           
          <h:outputLabel for="sendBtn"></h:outputLabel>
           <p:commandButton 
                  
           id="sendBtn" 
           value="Send Message" 
           actionListener="#{bmiBean.calculateBMI}"
           update="messages" >
           </p:commandButton>
       
    </h:form>



            </pm:content>
            <!-- end of content area -->
        </pm:view>

    </pm:page>
    
</f:view>