<!DOCTYPE html>
 
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">
 
<!-- The f:view element is required to get certain components to work with webkit based browsers
(Google Chrome and Safari) -->
<f:view contentType="text/html">
 
<h:head>
    <!-- Add support for <meta>, <link>, and <scripts> here -->
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <!-- Change the title of this document!!! -->
    <title>[untitled page]</title>
     
</h:head>
 
<h:body>
    <!-- Add your content here -->    
     
    <!-- End of content area -->
</h:body>
 
</f:view>
 
</html>