<f:view xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:pm="http://primefaces.org/mobile"
        contentType="text/html"
    renderKitId="PRIMEFACES_MOBILE">

    <pm:page title="Hello World">

        <!-- Main View -->
        <pm:view id="main">
            <pm:header title="Header">
            </pm:header>

            <pm:content>
            	Content
            </pm:content>
        </pm:view>

    </pm:page>
    
</f:view>

